# Web Framework
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
aio-pika
redis[hiredis]
aiobreaker
aiosmtplib
aiohttp
prometheus-fastapi-instrumentator
structlog
pytest
pytest-asyncio
pytest-mock